/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.header_box {
  width: 75%;
  padding: 0px 40px 0px 40px;
  border: 2px solid blue;
  background-color: cyan;
}
.footer_box {
  width: 75%;
  padding: 0px 40px 0px 40px;
  border: 2px solid blue;
  background-color: cyan;
}
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}
.right {
  float: right;
}
.italics {
  font-style: italic;
}
h4.stockton {
  padding-top: 4px;
}
#stocklist {
  background-color: yellow;
}

