$blue: darken(blue, 10%);
$main_width: 70%;
$head_pad: 40px;

.header_box {
  width: $main_width;  // don't use?
  padding-left: $head_pad;
  padding-right: $head_pad;
  border: 2px solid $blue;
  background-color: cyan;
}
.footer_box {
  @extend .header_box;
  margin-bottom: $head_pad*0.5;
}
a.home, a.home:hover, a.home:visited {
  text-decoration: none;
  color: blue;
}
h4.header {
  padding-top: 4px;
}
table.footer {
  td {
    width: 35%;
  }
}
.footer_text {
  font: {
    family: serif;
    size: 0.8em;
  }
  .contact {
    margin-left: 40px;
  }
}

.main_panel {
  width: $main_width;  // don't use?
}
span.action {
# padding: $head_pad*0.5;  // useless
}
table#stocklist {
  margin-top: $head_pad*0.5;
  margin-bottom: $head_pad*0.5;
  margin-left: $head_pad;
  margin-right: $head_pad;
  padding: $head_pad*0.5;
  border: 2px solid black;
  background-color: #fdf;
  td.companysymbol, td.value, td.delta {
    background-color: white;
    padding-right: $head_pad*0.5;
  }
}

$radius: 10px;
.round {
  -moz-border-radius:    $radius;
  -webkit-border-radius: $radius;
  border-radius:         $radius;
}
.right {
  float: right;
}
ul.inline {
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    list-style-type: none;
#   padding-right: 40px;
  }
}
li.nostyle {
  list-style-type: none;
}

