$blue: darken(blue, 10%);
$main_width: 70%;
$head_pad: 40px;

.header_box {
  width: $main_width;
  padding-left: $head_pad;
  padding-right: $head_pad;
  border: 2px solid $blue;
  background-color: cyan;
}
.footer_box {
  @extend .header_box;
}
$radius: 10px;
.round {
  -moz-border-radius:    $radius;
  -webkit-border-radius: $radius;
  border-radius:         $radius;
}
.right {
  float: right;
}
.italics {
  font-style: italic;
}
h4.stockton {
  padding-top: 4px;
}
#stocklist {
  background-color: yellow;
}
