%footer
  .footer_box.round
    %span.right.footer_text
      %strong.contact Contact Us:
      %br/
      %span Email:
      %em bfetler@gmail.com
      %br/
      %span Phone:
      %em +1-415-260-1132
    %span
      %h5.footer
        %em A Birch Forest Systems project.
