%footer
  .footer_box.round
    %table.footer
      %tr
        %td
          %h5.italics A Birch Forest Systems project.
        %td
          %ul.right.footer_text
            %li.nostyle
              Contact:
            %li.nostyle.pad20
              Email:
              %span.italics bfetler@gmail.com
            %li.nostyle.pad20
              Telephone:
              %span.italics +1-415-260-1132
  .footer_box.round
    %table.footer
      %tr
        %td
          %h5.italics A Birch Forest Systems project.
        %td
          %span.right.footer_text
            %span.contact Contact Us:
            %br/
            %span Email:
            %span.italics bfetler@gmail.com
            %br/
            %span Telephone:
            %span.italics +1-415-260-1132
  .footer_box.round
    %span.footer_text.right
      Contact Us:
      %br/
      Email:
      %span.italics bfetler@gmail.com
      %br/
      Telephone:
      %span.italics +1-415-260-1132
    %h5.italics A Birch Forest Systems project.
