%header
  %div.header_box.round
    %h4.stockton.right Stockton: A cool web page for tracking stocks.
    %h2
      = link_to "My Stocks", root_path, :class => "home"
  %div.header_box.round
    %table.header
      %tr
        %td
          %h2
            = link_to "My Stocks", root_path, :class => "home"
        %td
          %h4.stockton Stockton: A cool web page for tracking stocks.
